<!DOCTYPE html>
<html lang="ru">
<%- include('partials/head', { title: 'Подтвердите почту' }); %>

<div class="page-settings">
	<h1>Подтвердите почту</h1>

	<div class="pane pane_small_top settings-form">
		<p>Мы отправили вам письмо для подтверждения вашей почты.</p>
		<p>Если вы не получили письмо, проверьте папку <b>спам</b>. Чтобы такое больше не повторялось добавьте наш адрес <b>noreply@socialcolander.net</b> в избранное.</p>
	</div>

	<div class="pane-after">
		<small>
			После подтверждения вашего аккаунта, мы соберем для вас вашу первую подборку с лучшими сообщениями за последние сутки. Следующие сообщения будут приходить по вашему времени.
		</small>
	</div>
</div>
<%- include('partials/scripts'); %>
