<!DOCTYPE html>
<html lang="ru">
<%- include('partials/head', { title: 'Отписаться от рассылки' }); %>

<div class="page-settings">
	<h1>Отписка от рассылки</h1>

	<div class="pane pane_small_top settings-form">
		<p>Мы отписали вас от нашей рассылки. Спасибо что были с нами. Мы будем рады если вы поделитесь вашим положительным или отрицательным опытом с нами, чтобы мы могли сделать этот сервис еще лучше.</p>
		<p>Отправьте ваш отзыв нам на почту: <b>review@socialcolander.com</b></p>
	</div>
</div>

<%- include('partials/scripts'); %>
