h1 {
	margin: 0 0 0.8em;
	font-style: normal;
	/*font-weight: normal;*/
	font-size: 320%;
	line-height: 1.35;
}
@media (max-width: 480px) {
	h1 { font-size: 200%; }
}

h2 {
	margin: 1em 0 0.5em;
	font-weight: bold;
	font-size: 200%;
}

h3 {
	margin: 1.75em 0 0.8em;
	/*text-transform: uppercase;*/
	/*letter-spacing: 0.15em;*/
	/*font-weight: normal;*/
	font-size: 150%;
}

h4 {
	margin: 1.5em 0 0.8em;
	letter-spacing: 0.1em;
	font-weight: normal;
	font-size: 150%;
}

h5 {
	margin: 1.5em 0 0.8em;
	font-weight: normal;
	font-style: italic;
	font-size: 150%;
}

h6 {
	margin: 1.5em 0 0.8em;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 100%;
}

p {
	margin: 1em 0 0;
	text-align: left;
	font-size: 100%;
}

p.lead {
	margin: 1em 0;
	font-size: 150%;
}

p+ p {
	margin: 0;
	text-indent: 1.5em;
}

p+ ul,
p+ ol,
p+ dl {
	margin-bottom: 1.5em;
}

p.lead+ p {
	text-indent: 0;
}

blockquote {
	margin: 1em 0;
	padding-left: 1.5em;
	border-left: 5px solid #eee;
}

blockquote small {
	display: block;
	line-height: 1.7em;
}

ul,
ol,
dl {
	text-align: left;
}

dt {
	font-weight: bold;
}

code {
	font-family: courier, monospace;
}

p> code {
	padding: 0.25em;
	background: #eee;
}

pre {
	text-align: left;
	font-size: 100%;
}

hr {
	margin: 2em 0 1em;
	height: 0;
	border: 1px solid #eee;
	color: #eee;
}

.normal {
	font-weight: normal;
}

.quiet {
	color: #999;
}

.pull-left {
	float: left;
	margin: 0.5em 2em 1em 0;
}

.pull-right {
	float: right;
	margin: 0.5em 0 1em 2em;
}
