body * { margin: 0; padding: 0; font-family: inherit; }

body {
	font: 100%/1.4 system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Roboto", "Helvetica Neue", "Lucida Grande";
	margin: 0;

	color: hsl(0, 0%, 96%);

	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width: 100% !important;
	height: 100%;

	background-image: linear-gradient(45deg, #333, #5a5454);
}

img { max-width: 100%; }

a {
	text-decoration: none;
	color: #FFDB4D;
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 219, 77, .5);
}

.blank {
	border: 0;
}

table.message {
	width: 100%;
	margin: 20px;
	color: hsl(0, 0%, 4%);
}

table.message .container {
	/*border: 1px solid #f0f0f0;*/
	border: 0;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
}

.message a {
	color: rgba(0, 138, 206, 1);
	border-color: rgba(0, 138, 206, .5);
}
.message__avatar {
	border-radius: 4px;
}

.message__actions {
	padding-top: 10px;
	display: block;
}
.message_text img {
	margin: 5px 0 0;
}

.support {
	margin: 15px 0 28px;
	display: block;
}

/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer {
	width: 100%;
	clear:both!important;
	text-align: center;
	padding: 10px;
}

.footer .container p {
	font-size:12px;
	color:#666;
}

.container {
	display:block !important;
	max-width: 600px !important;
	margin:0 auto !important; /* makes it centered */
	clear:both !important;
}

.content {
	padding:12px;
	max-width: 600px;
	margin:0 auto;
	display:block;
	margin-bottom: -32px;
}

.content table {
	width: 100%;
}

.header {
	padding: 14px 12px 0;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}
.header td {
}
.header__logo { min-width: 48px; width: 48px; padding-right: 12px; }
.header img {
	/*vertical-align: top;*/
}

.ads {
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}


.footer {
	font-size: 87.5%;
}


@media (max-width: 480px) {
	table.message {
		padding: 0;
		border-collapse: collapse;
	}

	table.message .container {
		border: 0;
		border-radius: 0;
	}
}
