extends /_layouts/default

block vars
	- var title = 'Успешно'
	- var description = 'Description'
	- var pageClass = 'message'

block content
	.message
		header.page-header
			h1=title
			p.lead Вы подтвердили вашу почту
