/* Newsletter */

body {
    background-color: #f4f4f4;
    background-image: -webkit-linear-gradient(bottom left, hsl(0, 0%, 86%), hsl(0, 0%, 96%));
    background-image: -o-linear-gradient(bottom left, hsl(0, 0%, 86%), hsl(0, 0%, 96%));
    background-image: -webkit-gradient(linear, left bottom, right top, from(hsl(0, 0%, 86%)), to(hsl(0, 0%, 96%)));
    background-image: -moz-linear-gradient(bottom left, hsl(0, 0%, 86%), hsl(0, 0%, 96%));
    background-image: linear-gradient(to top right, hsl(0, 0%, 86%), hsl(0, 0%, 96%));
    Margin: 0;
}

.outer {
    Margin: 0 auto;
    max-width: 600px;
    width:100%;
}

html, body {
	font-family: system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Roboto", "Helvetica Neue", "Lucida Grande";
}


.middle .outer {
    background-color: #ffffff;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, .05);
       -moz-box-shadow: 0 0 24px rgba(0, 0, 0, .05);
            box-shadow: 0 0 24px rgba(0, 0, 0, .05)
}

.header,
.middle,
.footer {
    Margin:0 10px;
    text-align: center;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.middle {
	Margin: 8px 0 16px;
}

/* Basic Styles */

a {
    color: #0077cc !important;
    text-decoration: underline;
}

a img {
    border: 0;
}

div, p, td {
    -webkit-font-smoothing: subpixel-antialiased;
}

table {
    border-collapse: collapse;
}

.h1 {
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 30px;
}

.h2 {
    font-size: 18px;
    color: #333333;
    text-align: left;
    line-height: 24px;
}

p,
.paragraph {
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 20px;
}

p {
    Margin: 1em 0;
}

.quote {
    font-style: italic;
    color: #999999;
}

.cover {
    padding: 0 0 0 0;
}

.cover img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}

/* Buttons */

.button {
    width:auto !important;
    Margin: auto;
}

.button td {
    padding:0;
}

.button-link {
    font-family: helvetica;
    font-size: 14px;
    color:#ffffff !important;
    font-weight: bold;
    text-decoration: none;
    background-color: #333333;
    border:#333333 10px solid;
    padding:0 10px;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
    display: inline-block;
}

.button-link span {
    color:#ffffff;
}

.ta-c { text-align: center }
