<section>
	<small>
		<a href="mailto:ym@ymatuhin.ru">ym@ymatuhin.ru</a><br>
		{% if page.lang == 'ru' %}
			2017 © <a href="{{ site.url }}">Гугл динозаврик</a>,
			играть онлайн в гугл динозавра t-rex, прыгающего через кактусы.
		{% endif %}

		{% if page.lang == 'en' %}
			2017 © <a href="{{ site.url }}/en/">Google Dino</a>,
			play online in google dinosaur t-rex, jumping through cacti
		{% endif %}

		{% if page.lang == 'uk' %}
			2017 © <a href="{{ site.url }}/uk/">Гугл динозаврик</a>,
			грати онлайн в гугл динозавра t-rex, що стрибає через кактуси
		{% endif %}

		{% if page.lang == 'be' %}
			2017 © <a href="{{ site.url }}/be/">гугл дыназаўрыка</a>,
			гуляць онлайн ў гугл дыназаўра t-rex, дрыжачае праз кактусы
		{% endif %}

		<br>
		{% if page.lang != 'ru' %}
			<a href="/">По-русски</a>
		{% endif %}

		{% if page.lang != 'en' %}
			<a href="/en/">In English</a>
		{% endif %}

		{% if page.lang != 'uk' %}
			<a href="/uk/">По-українськи</a>
		{% endif %}

		{% if page.lang != 'be' %}
			<a href="/be/">Па беларуску</a>
		{% endif %}
	</small>
</section>
