extends /layouts/default

block vars
	- var title = global.activate.title
	- var success = global.activate.success
	- var error = global.activate.error
	- var pageClass = 'message:unsubscribe'

block content
	.message
		header.page-header
			h1=title
			p.js-success(hidden)!= success
			p.js-error(hidden)!= error
