@import './how-it-works.styl'
@import './features.styl'

body.home
	h2, h3
		text-align center
		margin-top 15vh

	.main-footer
		text-align center

.first-screen
	display flex
	align-items flex-start
	flex-direction column
	justify-content center
	margin-top -10vh
	min-height 100vh
	padding: 10vh 0

img
	max-width: 100%

.letter-example
	border 0
	width 100%
	min-height 80vh
