extends /layouts/default

block vars
	- var title = global.name
	- var description = global.description

block content
	.first-screen
		div
			h1
				img.logo(src='logo.png', width='128', alt='Социальный дуршлаг')
				| #{title}
			p.lead= description

			include /components/registration/index

	h2 Как это работает
	p Сначала мы выбираем новые твиты из вашей ленты, затем расставляем рейтинги опираясь на лайки/репосты/рейтинг автора, выбираем из этого лучшее и отправляем что осталось вам на почту. И так каждый день.
	p Вы можете выбрать удобное время для отправки писем. Вдруг вы любите читать новости утром или перед сном.

	h3 Преимущества

	ul
		li
			strong Удобно
			br
			| Я стал реже проверяю твитер в течении дня, а чаще и вовсе не проверяю его. Ведь вечером мне придет рассылка с самым интересным от туда.
		li
			strong Бесплатно
			br
			| Никаких ежемесячных подписок, просто бесплатно. Мы собираемся зарабатывать на рекламе (когда людей будет много) в письмах и пожертвований пользователей.
		li
			strong Не пропустите важное
			br
			| Листая ленту можно запросто пропустить хороший твит. И вы даже не узнаете об этом. А социальный дуршлаг отправит вам его если у него хватит рейтинга.


	h2 Письма которые мы отправляем
	img.letter-example(src="/assets/img/example.png", alt="Социальный дуршлак, пример письма")
	p Письмо Юрию Матюхину @ymatuhin 22 декабря 2017 года

	footer.quiet
		small
			| 2016 © #{' '}
			a(href='/') socialcolander.net
		br
		small твитер, фильтрация, лучшие твиты для твитера, фильтр для твиттера
