[info-message] {
	opacity: 0;
	display: none;
	-webkit-transform: scaleY(0);
	        transform: scaleY(0);
	-webkit-transform-origin: top;
	        transform-origin: top;
}

[info-message].showing,
[info-message].hiding,
[info-message].showed {
	display: inline-block;
	vertical-align: top;
}

[info-message].showing {
	-webkit-animation: slide-down .3s ease-out;
	        animation: slide-down .3s ease-out;
}

[info-message].hiding {
	-webkit-animation: slide-up .3s ease-out;
	        animation: slide-up .3s ease-out;
}

[info-message].showed {
	opacity: 1;
	-webkit-transform: scaleY(1);
	        transform: scaleY(1);
}

[info-message-theme="success"] {
	background: rgba(144, 238, 144, .5);
}

[info-message-theme="error"] {
	background: rgba(238, 144, 144, .5);
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: scaleY(0); transform: scaleY(0); }
    100% { opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1); }
}

@keyframes slide-down {
      0% { opacity: 0; -webkit-transform: scaleY(0); transform: scaleY(0); }
    100% { opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1); }
}

@-webkit-keyframes slide-up {
    0% { opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1); }
    100% { opacity: 0; -webkit-transform: scaleY(0); transform: scaleY(0); }
}

@keyframes slide-up {
    0% { opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1); }
    100% { opacity: 0; -webkit-transform: scaleY(0); transform: scaleY(0); }
}
