doctype html
html(lang="en")
	head
		title Социальный Друшлак
		script(type='text/javascript').
			if (foo) {
				bar(1 + 5)
			}
	body
		h1 Jade - node template engine
		#container.col
		p= title
		p.
			Jade is a terse and simple
			templating language with a
			strong focus on performance
			and powerful features.
