* { box-sizing: border-box; }
html, body { height: 100%; }

body {
	margin: 0;
	font: 18px/1.7 PT Serif, Arial, sans-serif;
}

.container {
	padding: 24px;
	min-height: 100%;
	background: linear-gradient(to top right, rgba(0, 183, 255, .1), rgba(255, 255, 199, .1));
}
