body.settings
	h1
		margin-bottom 0

	.post-title
		margin 0
		padding 24px 0

.settings-form {
	font-size: 0;

	/*input, button, select {
		font-size: inherit;
	}*/

	[type=email],
	select,
	button {
		height: 40px;
		min-height: 40px;
		padding: 0 8px;
		border-radius: 4px;
		border: 1px solid #ccc;
		font-size: 16px;
		background-color: transparent;
		vertical-align: top;
		width: 185px;
		max-width: 100%;
	}

	[type=email] {
		width: 376px;
	}
	button {
		border: 0;
		padding: 6px 24px;
		width: 376px;
	}

	& > * {
		margin: 3px;
	}
}
