extends /layouts/default

block vars
	- var title = global.name
	- var description = global.description
	- var pageClass = 'home'

block content
	.first-screen
		.content
			h1
				img.logo(src='/img/logo_trimmed_white.png', height='60', alt=title)
				| #{title}
			p.lead Отфильтрует вашу социальную ленту от воды.
				br
				| Получайте только лучшие сообщения из твитера на почту в удобное время.

			include /components/registration/index

			div.js-scroll-arrow

	h2 Как это работает

	ul.how-it-works
		li.how-it-works__item
			img.how-it-works__icon(src="/home/img/binoculars.svg")
			| Выбираем новые твиты
		li.how-it-works__item
			img.how-it-works__icon(src="/home/img/sorting.svg")
			| Сортируем их
		li.how-it-works__item
			img.how-it-works__icon(src="/home/img/crown.svg")
			| Выбираем лучшее
		li.how-it-works__item
			img.how-it-works__icon(src="/home/img/email.svg")
			| Отправляем вам на почту

	h3 Преимущества

	ul.features
		li.features__item
			img.features__icon(src="/home/img/like.svg")
			strong.features__title Удобно
			| Я стал реже проверять твитер в течении дня. Часто я не проверяю его вовсе, ведь по вечерам мне приходит рассылка с лучшими твитами.
		li.features__item
			img.features__icon(src="/home/img/piggy-bank.svg")
			strong.features__title Бесплатно
			| Никаких ежемесячных подписок, просто бесплатно. Но вы можете поддержать наш проект, пожертвовав на его развитие.
		li.features__item
			img.features__icon(src="/home/img/exclamation-mark.svg")
			strong.features__title Не пропустите важное
			| Листая ленту можно запросто пропустить хороший твит. И вы даже не узнаете об этом. А социальный дуршлаг отправит вам его если у него хватит рейтинга.


	h2 Пример письма
	iframe.letter-example(src="/home/letter-example.html")

	footer.main-footer
		small
			| 2016 © #{' '}
			a(href='/') socialcolander.net

		br
		small
			| Иконки за авторством <a rel="nofollow" href="http://www.freepik.com" title="Freepik">Freepik</a> от <a rel="nofollow" href="http://www.flaticon.com" title="Flaticon">flaticon.com</a>
		br
		small твитер, фильтрация, лучшие твиты для твитера, фильтр для твиттера
