extends /layouts/default

block vars
	- var title = global.messages.success.title
	- var description = global.messages.success.description
	- var pageClass = 'message:success'

block content
	.message
		header.page-header
			h1=title
			p.lead!= global.messages.success.message
