<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width">

	<title>Социальный дуршлаг</title>
	<link rel="stylesheet" href="./style.css">
</head>

<body bgcolor="#f6f6f6">
	<table class="header">
		<tr>
			<td class="header__logo">
				<img src="./logo_crooped.png" height="32" class="logo" alt="">
			</td>
			<td>
				<h1>Социальный дуршлаг</h1>
				<h2>{{ date }}</h2>
			</td>
		</tr>
	</table>

	<!-- body -->
	<table class="body-wrap">
		<tbody>
			<tr>
				<td></td>
				<td class="container" bgcolor="#FFFFFF">

					<!-- content -->
					<div class="content">
						{% for tweet in tweets %}
						<table class="tweet">
							<!-- User info -->
							<tr>
								<td class="tweet__avatar-cell">
									<img class="tweet__avatar" src="{{ tweet.avatar }}" alt="">
								</td>
								<td class="tweet__author-cell">
									{% if tweet.retweeter %}
									<a href="{{ tweet.retweeter.profileurl }}" class="tweet__retweet">
										<b>{{ tweet.retweeter.username }}</b> поделился заметкой
									</a>
									{% endif %}
									<a href="{{ tweet.profileurl }}" class="tweet__author-name">{{ tweet.username }}</a>
									<a href="{{ tweet.profileurl }}" class="tweet__author-shortname">@{{ tweet.screenname }}</a>
								</td>
								<td class="tweet__time-cell">
									<span class="tweet__time">{{ tweet.created_at }}</span>
								</td>
							</tr>

							<!-- Tweet text -->
							<tr>
								<td colspan="3" class="tweet__text">
									{{ tweet.text }}
								</td>
							</tr>

							<!-- Tweet counters -->
							<tr><td colspan="3">
								<p class="tweet__counters">
									<b>{{ tweet.favorite_count }}</b> лайков,
									<b>{{ tweet.retweet_count }}</b> ретвита</p>
							</td></tr>
						</table>
						{% endfor %}
					</div>
					<!-- /content -->
				</td>
			</tr>
		</table>


		<!-- footer -->
		<table class="footer-wrap">
			<tbody>
				<tr>
					<td></td>
					<td class="container">

						<!-- content -->
						<div class="content / pt0">
							<table>
								<tbody>
									<tr>
										<td align="center">
											<p class="tac">Предложения, ошибки и пожелания отправляйте нам на&nbsp;<a href="mailto:help@socialcollander.net?subject=Предложение, ошибка или пожелание">help@socialcollander.net</a>
											</p>
											<p class="m0">Не хотите больше получать письма? Вы очень поможете, если
												<a href="mailto:help@socialcollander.net?subject=Отписываюсь потому что…">расскажите нам</a>
												почему.
												<br>
												А
												<a href="//socialcolander.net/unscribe?user_id=...">
													<unsubscribe>отписаться от писем</unsubscribe>
												</a>
												можно всегда.
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /content -->

					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<!-- /footer -->

	</table>
	<!-- /body -->
</body>
</html>
