extends /_layouts/default

block vars
	- var title = global.settings_success.title
	- var description = global.settings_success.description
	- var pageClass = 'settings_success'

block content
	h1=title

	.wrap_small
		p!= description
