<div class="header">
	<!--[if (gte mso 9)|(IE)]>
	<table width="600" align="center">
	<tr>
	<td>
	<![endif]-->
	<table class="outer" cellpadding="0" align="center">
		<tr>
			<td class="one-column logo">
				<div class="column">
					<table width="100%" cellpadding="0">
						<tr>
							<td style="padding:19px 0 0;">
								<a href="https://socialcolander.net/" target="_blank">
									<img src="https://socialcolander.net/favicon-32x32.png" width="32" height="32" alt="" />
								</a>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td class="one-column heading">
				<div class="column">
					<table width="100%" cellpadding="10">
						<tr>
							<td>
								<div class="h1">Социальный дуршлак</div>
								<div class="paragraph">Лучшее из социальной ленты за последние сутки</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	<!--[if (gte mso 9)|(IE)]>
	</td>
	</tr>
	</table>
	<![endif]-->
</div>
