* {
	box-sizing: border-box;
	/*font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande" !important;*/
}

body {
	margin: 0;
	margin: auto;
	padding: 2em 2em 5em;
	max-width: 39em;
	background: #fff;
	color: #555;
	text-align: center;
	font-size: 120%;
	font-family: PT Serif, Georgia, serif;
	line-height: 1.6;
}

h1, h2, h3, strong, b {
	font-weight: bold;
	color: #333;
}

@media (max-width: 800px) {
	body {
		font-size: 100%;
	}
}
