* {
	box-sizing: border-box;
	/*font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande" !important;*/
}

body {
	margin: 0;
	margin: auto;
	padding: 2em 2em 5em;
	max-width: 37em;
	background: rgb(253, 253, 253);
	color: #262626;
	color: rgb(10, 10, 10);
	text-align: center;
	/*font-family: Georgia, serif;*/
	font-size: 120%;
	font-family: PT Serif, Georgia, serif;
	line-height: 1.6;
}

@media (max-width: 800px) {
	body {
		font-size: 100%;
	}
}
