a {
	text-decoration: none;
	border-bottom: 1px solid;
}
a:link { color: #008ACE; }
a:visited { color: #B40EB4; }
a:hover { color: #CC0000; }
a:hover { border-color: #f0b2b2 !important; }
a:visited { border-color: #e0b2e0; }
a:link { border-color: #b2ccf0; }
