.signup-form {
	text-align: center;
	margin: 46px 0;
}

.twitter {
	position: relative;
	background: linear-gradient(to top right, rgba(46, 49, 146, 1), rgba(27, 255, 255, 1));
	background: #008ACE;
	box-shadow: 5px 5px 0 0 rgba(0, 138, 206, .25);
}

.twitter svg {
	transition: transform .15s ease;
	fill: #fff;
	margin-left: .5em; margin-top: -.25em; vertical-align: middle; }

.twitter:hover svg {
	transform: scale(1.25);
}
