extends /_layouts/default

block vars
	- var title = global.name
	- var description = global.description

block content
	.first-screen
		h1
			img.logo(src='/assets/img/logo_crooped.png', width='64', height='40', alt='Социальный дуршлаг')
			| #{title}
		p.lead= description

		include ./_components/registration/reg.pug

	h2 Как это работает
	ol
		li Авторизуйтесь через твиттер
		li Укажите вашу почту и время
		li На вашу почту придет письмо с подтверждением
		li Подтвердите почту и получите ваше первое письмо
		li Сутки спустя вы начнете получать письма в указанное вами время
		li Приятного чтения


	br
	br
	h2 Пример письма
	img.letter-example(src="/assets/img/example.png", alt="Социальный дуршлак, пример письма")

	footer.quiet
		small
			| 2016 © #{' '}
			a(href='/') socialcolander.net
		br
		small= global.home.tags
