footer.page-footer.wrap_small
	hr
	p.authors
		a(href='https://ymatuhin.ru') Юрий Матюхин
		|  и
		| #{' '}
		a(href='#') Михаил Жуков
	p.copyright
		| 2016 ©
		| #{' '}
		a(href='/') Социальный дуршлак
