@import './registration/reg.pcss';
@import './document/browser-sync.pcss';
@import './document/document.pcss';
@import './document/links.pcss';
@import './document/typography.pcss';

@import './document/logo.pcss';

@import '../settings/settings.pcss';
