.twitter-sign-in
	margin 1.75em 0 0
	display inline-block
	vertical-align top

	img
		width 30px
		height 30px
		vertical-align -8px
		margin-right 14px
		margin-left -4px

	&__small-text
		display block
		padding-top 6px
		text-align center
