extends /layouts/default

block vars
	- var step_title = global.messages.confirm.step_title
	- var title = global.messages.confirm.title
	- var description = global.messages.confirm.description
	- var pageClass = 'message:confirm'

block content
	.first-screen
		.message
			header.page-header
				p: strong=step_title
				h1=title
				p.lead!= global.messages.confirm.message
